# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Data
data/
datasets/CIFAR-10/
datasets/CIFAR-10-C/

# Outputs
checkpoints/
results/
*.csv
*.png

# Logs
*.log

# IDE files
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/